*{
    padding: 0; margin: 0; box-sizing: border-box;
}
@font-face {
    font-family: ff;
    src: url(font/MIXONE.ttf);
}
.con{
    height: 100vh; width: 100vw; display: flex; justify-content: center;
    align-items: center;
}
.form{
    height: 85vh; width: 32vw; border-radius: 15% 50% / 50% 15%; backdrop-filter: blur(10px);
    object-fit: cover; border: 1px solid #111;  display: flex;
    flex-direction: column; justify-content: center; align-items: center;
}
.form>label{
    display: block; font-size: 2vw; font-family:ff; text-transform: capitalize; font-weight: 500;
    z-index: 99;  position: relative; left: -5vw; 
}
.form>label:nth-child(8){
    left: -3vw;
}
button{
    font-size: 2.5vw; background: none; border: none; position: relative; top: -2vw;
    text-transform: capitalize; font-weight: 600;
}
.form>input{
    width: 77%; height: 3vw; background: none; border: none;
    border: 2px solid white; border-radius: 10px; 
}